version: "3.9"

services:
  email-dashboard:
    container_name: resend-helper
    build: .
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3333:3333"
    volumes:
      - app-data:/app/data

volumes:
  app-data:
    name: app-data